---
import img2 from "../../public/images/img2.jpg";
---

<section class="py-16 bg-gray-200" id="sobre-nosotros">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-center gap-10 px-6">

      <div class="w-full md:w-1/2">
        <img src={img2.src} alt="Cabaña en medio de la naturaleza" class="w-full h-96 object-cover rounded-2xl shadow-2xl">
      </div>
      
      <div class="w-full md:w-1/2">
        <h2 class="text-4xl font-bold text-center md:text-left text-green-800">Sobre Nosotros</h2>
        <p class="mt-4 text-gray-700 leading-relaxed text-justify">
          En <strong>Cabaña Ladera Verde</strong>, creemos en la belleza de lo simple y en el poder restaurador de la naturaleza. 
          Nuestra cabaña, ubicada en un entorno tranquilo de Magangué, ha sido diseñada para brindar descanso, conexión y una experiencia auténtica lejos del ruido de la ciudad.
        </p>
        <p class="mt-4 text-gray-700 leading-relaxed text-justify">
          Nos apasiona ofrecer un espacio acogedor donde las personas puedan relajarse, compartir momentos especiales y disfrutar de la magia de la vida al aire libre. 
          Ya sea para una escapada romántica, un fin de semana en familia o un evento especial, en <strong>Cabaña Ladera Verde</strong> encontrarás el equilibrio perfecto entre comodidad y naturaleza.
        </p>
      </div>
    </div>
  </section>
  
